body{
    margin: 0;
    background-color: #1b1a1a;
    font-family: Avenir, arial;
    color: whitesmoke;
}
header{
    margin-bottom: 20px;
}

button {
    padding: 20px;
    margin: 50px;
    background-color: #FFF0DD;
    border-radius: 15px;
    color: #1B1B1B;
    font-family: "ubuntu", "avenir", Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    border-width: 2px;
    border-color: #1B1B1B;
    border-style: solid;
    cursor: pointer;
}

button:hover {
    padding: 20px;
    margin: 50px;
    background-color: #1B1B1B;
    border-radius: 15px;
    color: #FFF0DD;
    font-family: "ubuntu", "avenir", Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    border-width: 2px;
    border-color: #1B1B1B;
    border-style: solid;
    cursor: pointer;
}

.ancien-site {
    text-decoration: none;
}

.ancien-site:hover {
    text-decoration: underline;
}
/*
button {
    top: 0;
    left: 0;
    transition: all .15s linear 0s;
    position: relative;
    display: inline-block;
    padding: 20px;
    margin: 20px;
    background-color: #FFF0DD;
    border-radius: 15px;
    color: #1B1B1B;
    font-family: "ubuntu";
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.125rem;
    text-decoration: none;
    border-width: 2px;
    border-color: #1B1B1B;
    border-style: solid;
    cursor: pointer;
}

button:hover {
    border-color: #1B1B1B;
    box-shadow: 0px 0px 0px #1B1B1B;
    transition: box-shadow 0.25s;
margin: 0 2rem 2.3125rem 0;
    font-size: large;
    border-radius: 15px;
    padding: 25px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: ubuntu, avenir, Helvetica, sans-serif;
        box-shadow: 5px 5px 0 #1b1b1b51;
}*/

.closed {
    font-size: 75pt;
    margin-top: 150px;
    margin-bottom: 50px;
}

.ancien-titre {
    color: #1B1B1B;
    font-family: ubuntu;
    font-weight: bold;
    font-size: xx-large;
    margin: 50px;
}

.ancien-sous-titre {
    color: #1B1B1B;
    font-family: ubuntu;
    font-weight: lighter;
    font-size:medium
}
.ancien-site {
    color: #1B1B1B;
    font-family: ubuntu;
    font-weight: lighter;
    font-size: small
}

.landing-page {
    background-color: #FFF0DD;
    text-align: center;
    align-items: center;
}

.head{
    display: flex;
    justify-content: flex-start;
    border: 10px solid rgba(235, 235, 235, 0.5);
    border-radius: 200pt;
    margin: 60px;
}
.portfolio{
    padding-top: 4vh;
    padding-left: 15vh;
    padding-bottom: 4vh;
    font-family: Avenir, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20vh;
    color: rgba(235, 235, 235, 0.5);  
}
.clignote{
    padding-top: 4vh;
    padding-bottom: 4vh;
    font-family: Avenir, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20vh;
    color: rgba(235, 235, 235, 0.5);  

    animation-duration: .8s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
    transition: none;
}
@keyframes clignoter{
    0%   { opacity:1; }
    40%  { opacity:0; }
    100% { opacity:1; }
}
.nom{
    padding-top: 15pt;
    padding-bottom: 15pt;
    padding-left: 490pt;
    padding-right: 41pt;
    font-size: 65pt;
    font-weight: bold;
    font-family: Avenir, Arial, Helvetica, sans-serif;
    color: #1b1a1a;
    background-color: orange;
    margin-bottom: 50px;
    /*display: flex;*/
}
.sign{
    /*align-items: center;*/
    display: flex;
    
}
.section{
    margin: 60px;
    margin-top: 0;
    margin-bottom: 80px;
}
.titre{
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 60px;
    position: relative;
}
.titre::before{
    content: "";
    position: absolute;
    background-color: orange;
    width: 40px;
    height: 5px;
    bottom: 0;
}
.sous-titre{
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: lighter;
    color: rgba(235, 235, 235, 0.5);
}
.bande{
    min-height: 100px;
    display:flex;
    justify-content:space-around;
    align-items: center;
}
.outil{
    font-size: 15pt;
    margin-bottom: 40pt;
    color: rgba(235, 235, 235, 0.9);
}
img{
    width: 100%;
    height: auto;
}
.legende{
    color: rgba(235, 235, 235, 0.6);
    font-size: small;
}
.legendeVoid{
    color: #1b1a1a;
}

/* Générique */

.square{
    margin: 2vh;
    width: 100%;
}
.affiche{
    margin: 2vh;
    width: 100%;
}

/* Logos */

.clap{
    margin: 2vh;
    width: 53%;
}
.mulhouse{
    margin: 2vh;
    width: 100%;
}


/* Réseaux sociaux */

.ateliers{
    margin: 2vh;
    width: 100%;
}


/* Audiovisuel */

.youtube{
    margin: 5vh; 
}


/* Photos */

.lego{
    margin: 2vh;
    width: 99%;
}
.manette{
    margin: 2vh;
    width: 80%;
}
.wii{
    margin: 2vh;
    width: 42%;
}
.casque{
    margin: 2vh;
    width: 56%;
}

.console{
    margin: 2vh;
    width: 100%;
}
.tti{
    margin: 2vh;
    width: 100%;
}
.julia{
    margin: 2vh;
    width: 100%;
}
.fume{
    margin: 2vh;
    width: 100%;
}

/* Pot-pourri */

.livre{
    margin: 2vh;
    width: 89%;
}
.infographie{
    margin: 2vh;
    width: 57%;
}
.illustration{
    margin-top: 25pt;
    width: 70%;
}

footer{
    padding-left: 80pt;
    padding-right: 80pt;
    font-size: 15pt;
    color: #1b1a1a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
}


/**************\
/* CSS Tricks *\
/**************\

Flexbox Tricks :
**************

display: flex;

justify content (horizontal){
    flex-start: gauche
    flex-end: droite
    center: centre
    space-between: répartis uniformément
    space-around: répartis uniformément avec un espace égal autour d'eux
}

align items (vertical){
    flex-start: haut
    flex-end: bas
    center: centre
    stretch: étirés pour remplir l'écran
    baseline: les lignes de textes des blocs s'alignent
    align-self: contôle un élément
}

flex-direction{
    row: haut
    row-reverse: bas
    center: centre
    stretch: étirés pour remplir l'écran
    baseline: les lignes de textes des blocs s'alignent
}


flex: 1 {
    l'élement prend toute la place restante
}

flex: 2 {
    prend 2 fois plus de place que flex: 1
}

Chemin de classe {
    .classeParent>.classeEnfant {
        ...
    }
}

Image de fond {
    background-image: url("../img/bar.jpg");
    background-size: cover;
}

Taille auto d'un lien bouton{
    display: inline-block;
}